@model TP3.Application.ViewModels.FriendViewModel
@{

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <title>UpdateFriend</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="collapse navbar-collapse" style="margin-left: 15px;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" style="color: white; font-weight: bolder;" asp-action="Index" asp-controller="Friends">Home</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <h1 class="text-center">Friend Formulary</h1>
    </div>
    <div class="my-container">
        <form asp-action="UpdateFriend" method="post" class="m-2">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="FirstName">Friend Name:</label>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LastName">Friend Second Name:</label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email">Email:</label>
                <input type="email" asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BirthDate">The BirthDate:</label>
                <input type="date" asp-for="BirthDate" class="form-control" />
            </div>
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
</body>

</html>